header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
header span {
  font-style: italic;
}
