.control-btn {
  width: 40%;
  background-color: transparent;
  outline: none;
  text-wrap: nowrap;
  text-align: center;
  transition: all 0.2s ease;
  border-style: solid;
  padding: 0.5rem 0.5rem;
}
.remove {
  border-color: lightcoral;
}
.toggle {
  border-color: lightgreen;
}

.remove:hover {
  background-color: lightcoral;
  color: white;
}
.toggle:hover {
  background-color: lightgreen;
}
