#desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.application-wrapper {
  width: 0;
  height: 0;
  box-sizing: border-box;
  box-shadow: 0px 10px 25px #555e;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  transition: width 0.5s ease-in, height 0.6s ease-in-out;
  overflow-y: overlay;
}
.application-wrapper::-webkit-scrollbar {
  width: 8px;
}
.application-wrapper::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
  background-color: rgba(34, 34, 34, 0.6);
}
.application-wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.application-wrapper.active {
  backdrop-filter: blur(0.5rem);
  width: 80%;
  height: 80%;
}
.application-wrapper.full-size {
  width: 100%;
  height: 100%;
}

.application-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  background-color: gray;
  gap: 8px;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.application-header .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle.red {
  background-color: red;
}
.circle.orange {
  background-color: orange;
}
.circle.green {
  background-color: green;
}
.circle.red:hover {
  background-color: lightcoral;
}
.circle.orange:hover {
  background-color: orangered;
}
.circle.green:hover {
  background-color: lightgreen;
}
.icon-svg.active rect {
  fill: rgba(255, 255, 255, 0.3);
}
