#desktop {
}

.application-header {
}
.application-header .circle {
}

#widget-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 0;
  gap: 1rem;
}
